@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
}

body{
  background: #f0f0f0;
  color: #333;
  padding: 20px 5%;
}

h1 {
  font-family: 'Dancing Script', cursive;
  text-align: center;
  margin: auto;
  margin-bottom: 30px;
}

ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  list-style: none;
  li {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    text-align: center;
    transition: transform 0.2s;
    a {
      text-decoration: none;
      color: #333;
      padding: 20px;
      display: block;
      height: 100%;
      transition: all 0.3s ease;
      h2 {
        margin-bottom: 10px;
        font-size: 1.2em;
      }
      img {
        height: 180px;
        width: 100%;
        max-width: 100%;
        object-fit: contain;
      };
      .descripcion {
        margin-top: 10px;
        font-size: 0.9em;
        color: #666;
      }
    }
    &:hover {
      transform: translateY(-5px);
      box-shadow: 0 8px 16px rgba(0,0,0,0.2);
    }
  }
}